@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';


.header {
   padding: 51px 0 54px;
   &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
}

.menu{
   padding: 0 20px 0 160px;
   &__list{
      display: flex; 
   }
   &__list-item + .menu__list-item{
      padding-left: 34px;
   }
   
   &__list-link{
      font-size: 15px;
      line-height: 12px;
      color: #436372;
      font-family: 'Rubik-Medium', sans-serif;
      font-weight: 500;
   }
   &__list-link:hover::after{
      content: ' +';
      color: #436372;
   }
   &__list-link--active::after{
      content: ' +';
      color: #436372;
      font-size: 15px;
      line-height: 12px;
      font-weight: 500;
   }
}

.user-nav{
   display: flex;
   height: 50px;
   &__link{
      background-color: rgba(163, 187, 200, 0.2);
      width: 50px;
      border-radius: 50%;
      margin-right: 21px;
      padding: 17px;
   }
   &__choice{
      display: flex; 
      justify-content: center;
      background-color: #fcd7b6;
      width: 178px;
      border-radius: 25px;
      margin-right: 18px;
      padding-top: 9px;
   }
   &__link2{
      padding: 12px 26px 6px;
      height: 32px;
      position: relative;
   }
   &__link2 + .user-nav__link2{
      border-left: 1px solid rgba(255, 255, 255, 0.4);
   }
   &__link3{
      padding: 15px;
      background-color: rgba(163, 187, 200, 1);
      width: 50px;
      border-radius: 50%
   }
   &__num{
      position: absolute;
      width: 16px;
      height: 16px;
      top: 4px;
      right: 17px;
      border-radius: 50%;
      background-color: #fff;
      color: $title-color;
      font-size: 10px;
      line-height: 16px;
      text-align: center;
      
   }
}



@import 'media';
